---
// src/pages/index.astro
// Note: Make sure you add the "<ViewTransitions />" component
// to other pages as well, and not just one.
import {ViewTransitions} from 'astro:transitions';
import { blogs } from '../blog';
---
<head>
  <meta charset="utf8">
  <title>My View Transition Demo</title>
  <ViewTransitions />
</head>
<body>
	<div class="text-center text-blue-500 hover:text-blue-200"><a href="/2">次のページへ</a></div>
  	<div class="bg-blue-500 w-1/2 flex py-4 m-auto mr-0" transition:name="next-page" transition:animate="fade"></div>
	<div class="flex flex-col justify-center items-center text-xl font-marugo text-blue-500 hover:text-blue-20 space-y-4 mt-20">
		{blogs.map(blog => (
		<a href={`/blog/${blog.id}`}>{blog.title}</a>
	))}
	</div>
</body>